{% extends "base.html" %}
<body>
	{% block content %}
	<form action="" method="post">
		{% csrf_token %}
  		{{form.as_p}}
  	<input type="submit" value="Submit">
	</form>
	<br><br>

<table border="2" style="width:100%" >
  <thead  bgcolor="yellow">
  <td style="width:20%">Jobname</td>
  <td style="width:20%">Emailid</td>
  <td style="width:20%">Testsuite</td>
  <td style="width:20%">Envirionment</td>
  <td style="width:20%">Trigger</td>
  </thead>
{% for user in registered_models %}
  <tbody bgcolor="skyblue">
  <tr>
    <td>{{user.jobname}}</td>
    <td>{{user.emailid}}</td>
    <td>{{user.Testsuite}}</td>
    <td>{{user.envirionment}}</td>
    <form method="get" action="loggedin">
    <td><button style="width:100%">Trigger</button></td>
    </form>
    {% endfor %}
    {% endblock %}
  </tr>
  </tbody>
  </table>
</body>