{% extends "base.html" %}
<body>
	{% block content %}
	<form action="" method="post">
		{% csrf_token %}
  		{{form.as_p}}
  	<input type="submit" value="Submit">
	</form>
	<br><br>

<table border="2" style="width:100%" >
  <thead  bgcolor="yellow">
  <td style="width:20%">Jobname</td>
  <td style="width:20%">Emailid</td>
  <td style="width:20%">Testsuite</td>
  <td style="width:20%">Envirionment</td>
  <td style="width:20%">Trigger</td>
  </thead>
{% for user in registered_models %}
  <tbody bgcolor="skyblue">
  <tr bgcolor="skyblue">
    <form method="post" action="trigger">
     {% csrf_token %}
    <td><input type="buttom" name="jobname"  value={{user.jobname}}> </td>
    <td><input type="buttom" name="emailid"  value={{user.emailid}} > </td>
    <td><input type="buttom" name="Testsuite"  value={{user.Testsuite}} > </td>
    <td><input type="buttom" name="envirionment"  value={{user.envirionment}}> </td>
    <td><input type="submit" value="Submit"></td>
    </form>
    {% endfor %}
    {% endblock %}
  </tr>
  </tbody>
  </table>
</body>