{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
	<form method="get" action="signin">
    <button type="submit" style="float: right;width: 10%; height: 30px;font-size : 15px">Sign In</button>
	</form>
	<form method="get" action="register">
    <button type="submit" style="float: right;width: 10%; height: 30px;font-size : 15px">Register</button>
	</form>
    <h2>
        <p style="text-align:center;"> Welcome CGI IIS
        </p>
        </h2>
    <img src="\static\CGI.png" width="700" height="700" style="text-align:center;">
	{% endblock %}
</body>
