{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
		<form method="get" action="logout">
    	<button type="submit" style="float: right;width: 10%; height: 30px;font-size : 15px">Logout</button>
		</form>
		<h2>
		<p style="text-align:center;"> Welcome {{ username }}!!
		</p>
		</h2>
		<img src="{% static 'homepage.jpeg' %}" width="1050" height="700" style="text-align:center;">
	{% endblock %}
</body>