<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IIS regression</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
 #dropdownMenu2,#dropdownMenu1,#dropdownMenu3,#dropdownMenu4,#dropdownMenu5{
  background-color: red;
  color:black;
  width:15%;
}
</style>
</head>
<body>
<div class="container-fluid" >
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="width:15%;background-color: red;">
    FT1
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="{% url 'createtestsuite' %}">Create a job</a>
    <a class="dropdown-item" href="{% url 'app_homepage1' %}">Select testsuite</a>
    <a class="dropdown-item" href="{% url 'testresult' %}">Select testsuite</a>
    <button class="dropdown-item" type="button">Last run result</button>
  </div>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    FT2
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background-color:DodgerBlue;">
   <button class="dropdown-item" type="button">Select testsuite</button>
    <button class="dropdown-item" type="button">Select testcase</button>
    <button class="dropdown-item" type="button">Last run result</button>
  </div>
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15%;background-color: red;">
    FT3
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
   <button class="dropdown-item" type="button">Select testsuite</button>
    <button class="dropdown-item" type="button">Select testcase</button>
    <button class="dropdown-item" type="button">Last run result</button>
  </div>
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15%;background-color: red;">
    SIT
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
   <button class="dropdown-item" type="button">Select testsuite</button>
    <button class="dropdown-item" type="button">Select testcase</button>
    <button class="dropdown-item" type="button">Last run result</button>
  </div>
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15%;background-color: red;">
    UAT
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
   <button class="dropdown-item" type="button">Select testsuite</button>
    <button class="dropdown-item" type="button">Select testcase</button>
    <button class="dropdown-item" type="button">Last run result</button>
  </div>
</div>
    <form method ="get" action="upload_csv">
     <button  id="dropdownMenu6"  aria-haspopup="true" aria-expanded="false" style="width:15%;background-color: red;">
    HOURS UPDATED
  </button>
  </form>

</div>
<br>
<br>
<table border="2" style="width:100%" >
  <thead  bgcolor="yellow">
  <td style="width:20%">Jobname</td>
  <td style="width:20%">Passed</td>
  <td style="width:20%">Failed</td>
  <td style="width:20%">Percentage</td>
  <td style="width:20%">Summaryreport</td>
  </thead>
{% for user in registered_models %}
  <tbody bgcolor="skyblue">
  <tr>
    <td>{{user.jobname}}</td>
    <td>{{user.passed}}</td>
    <td>{{user.failed}}</td>
    <td>{{user.percentage}}</td>
      <form method="post" action="resultpage">
        {% csrf_token %}
         <input type="hidden" id="postjob" name="jobname" value={{user.jobname}} />
          <input type="hidden" id="postId" name="id" value={{user.id}} />
     <td><input type="submit" value="report"></td>
    </form>
    {% endfor %}
  </tr>
  </tbody>
  </table>
</body>
</html>