{% extends "base.html" %}
{% load static %}
<style>
	.container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
	{% block content %}
		Did you ever imagine that the freshest of fruits and vegetables,
        top quality lentils and food grains, dairy products and hundreds of branded items
        could be handpicked and delivered to your home, all at the click of a button?
        Loony Basket brings a whopping 20000+ products with more than 1000 brands
        to over 4 million happy customers.
	{% endblock %}
</body>