
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>testsuite</title>
    
   <script type="text/javascript">
            function selects(){
                var ele=document.getElementsByName('foo');
                for(var i=0; i<ele.length; i++){
                    if(ele[i].type=='checkbox')
                        ele[i].checked=true;
                }
            }
            </script>
</head>

<body>
<div>
    {% load static %}
    <img src="/static/images.jpg" width="1000" height="100" alt="CGI">
<h1>Create Job</h1>
<div style="float: left;">
<label for="UserName" class="displaynone"></label>
<input name="ctl00$LoginControl$Login1$UserName" type="text" maxlength="60" id="UserName" tabindex="1" class="UserName IePlaceHolder" placeholder="Job Name">
</div>
<div style="clear: both;"></div>
<br>
<div style="float: left;">
<label for="Email" class="displaynone"></label>
<input name="ctl00$LoginControl$Login1$Email" type="text" maxlength="60" id="Email" tabindex="1" class="UserName IePlaceHolder" placeholder="Email ID">
</div>
<br>
 <form action="/action_page.php">
<h4>Select testsuite</h4>
<input type="checkbox" id="0" name="foo" onclick="selects()"/>
<label for="0"> All </label><br>
<input type="checkbox" id="1" name="foo">
<label for="1"> S5 reg testsuite</label><br>
<input type="checkbox" id="2" name="foo">
<label for="2">RWA testsuite</label><br>
<input type="checkbox" id="3" name="foo">
<label for="3">S5 related links</label><br>
<button>Submit</button>
 </form>
</div>
<br>
<br>
<h3 style="background-color:Tomato;">Job List</h3>
<table style="background-color:gray;" class="container">
    <thead>
    <tr>
        <th>#</th>
        <th>Job Name</th>
        <th>Run Date</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Full test run testsuite</td>
        <td>13 may</td>
        <td>yugesh.buchipalle@cgi.com</td>
        <td><img src="C:\Users\yugesh.buchipalle\Downloads\download.png" alt="" style="width:20px; height:auto;"></td>
    </tr>
        <tr>
        <td>2</td>
        <td>Full test run testsuite1</td>
        <td>14 may</td>
        <td>yugesh.buchipalle@cgi.com</td>
        <td><img src="C:\Users\yugesh.buchipalle\Downloads\download.png" alt="" style="width:20px; height:auto;"></td>
    </tr>
    </tbody>
</table>
</body>
</html>