{% extends "base.html" %}
<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>
	{% block content %}
		<form method="get" action="logout">
	    	<button type="submit" style="float: right;width: 10%; height: 30px;font-size : 15px">Logout</button>
	    </form>
        <form method="POST" action="order">
            {% csrf_token %}
        <div class="row">
            <div class="column">
                <h2>Dairy</h2>
                {% for dairy_prod in dairy %}
                    <input type="checkbox" id={{dairy_prod}} name="products" value={{dairy_prod}}>
                    <label for={{dairy_prod}}>{{dairy_prod}}</label><br>
                {% endfor %}
            </div>
            <div class="column">
                <h2>Beverages</h2>
                {% for beverage_prod in beverages %}
                    <input type="checkbox" id={{beverage_prod}} name="products" value={{beverage_prod}}>
                    <label for={{beverage_prod}}>{{beverage_prod}}</label><br>
                {% endfor %}
            </div>
            <div class="column">
                <h2>Vegetables</h2>
                {% for veg_prod in vegetables %}
                    <input type="checkbox" id={{veg_prod}} name="products" value={{veg_prod}}>
                    <label for={{veg_prod}}>{{veg_prod}}</label><br>
                {% endfor %}
            </div>
            <div class="column">
                <h2>Fruits</h2>
                {% for fruit_prod in fruits %}
                    <input type="checkbox" id={{fruit_prod}} name="products" value={{fruit_prod}}>
                    <label for={{fruit_prod}}>{{fruit_prod}}</label><br>
                {% endfor %}
            </div>
            <div class="container">
                <button type="submit">submit</button>
            </div>
        </div>


	{% endblock %}
            </form>
</body>